<%- include("partials/header") -%>

<body>

    <div>
        <form action="/" method="post">
            <div>
                <label for="uname" name="UserName">User Name</label>
                <input type="text" required="true" name="uname" placeholder="UserName">
                <label for="pass" name="UserName">Password</label>
                <input type="password" required="true" name="pass" placeholder="Password">
                <input type="radio"
            </div>
        </form>
    </div>
</body>

<%- include("partials/footer") -%>