<%- include("partials/header") %>

   <title>Admin</title>
 </head>
 <body>
   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">Admin-TrojanWave</div>
     <!-- NAVIGATION MENU -->
     <!-- <ul class="nav-links"> -->
       <!-- USING CHECKBOX HACK -->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->

        <li class="home"><a href="/" class="hyp">Home</a></li>
         <li class="services">
         
           <!-- DROPDOWN MENU -->
           <ul class="dropdown">
             <li><a href="/" class="hyp" >View Profile</a></li>
            
           </ul>
         </li>

     </ul>
   </nav>

<button class="open-button btn btn-outline-dark" onclick="openForm()">ADD Employee</button>


<div class="form-popup" id="myForm">
  <form class="form-container" method="post" action="/admin" id="form">

  <div><label for="UsName"><b>Employee User name</b></label>
    <input type="text" name="UsName" required>
  </div>
  <div><label for="email"><b>Email</b></label>
    <input type="email" name="email" required>
  </div>
  <div><label ><b>Password</b></label></div>
    <input type="password" name="pass" required>
    <div><label for="contact"><b>Contact Number</b></label>
      <input type="number" maxlength="10" name="contact" required>
    </div>

  <div class="marg-bottom"><label for="DoJ">Date of Joining</label>
  <input type="date" id="appt" name="DoJ" ></div>
  <div><label for="department"><b>Department</b></label>
    <input type="text" name="department" required>
  </div>
    <button type="submit" class="btn" name="button" >Add Task</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
</div>

<%- include("partials/footer") %>