<%- include("partials/header") %>


 </head>
 <body>
   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">TROJAN WAVE-Login</div>
   
     

     </ul>
   </nav>
  

   <div  class="form-popup cent" id="myForm"></div> 
    
    <form action="/" method="post" class="form-container">
        <div >
            <div><label for="uname" name="UserName">User Name</label>
            <input type="text" required="true" name="uname" placeholder="UserName">
        </div>
            <div><label for="pass" name="UserName">Password</label>
            <input type="password" required="true" name="pass" placeholder="Password">
        </div>
        <div><button type="submit" class="btn" name="button">BTN</button>
        </div>
    </div>

    </form>
</div>


<%- include("partials/footer") %>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/" method="post">
            <div>
                <label for="uname" name="UserName">User Name</label>
                <input type="text" required="true" name="uname" placeholder="UserName">
                <label for="pass" name="UserName">Password</label>
                <input type="password" required="true" name="pass" placeholder="Password">
                <button type="submit" name="button">BTN</button>
            </div>

        </form>
    </div>
</body>
</html> -->